@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
}

body {
  @apply bg-gray-200;
}

/* TABLE STYLES -------------------------------------------------------------*/

/* cell padding + default cell border */
td,
th {
  border-bottom: 1px solid black;
  @apply px-3 py-2 text-center;
}

/* set lighter border in body cells */
td {
  @apply border-gray-300;
}

/* create table striping effect */
tr:nth-child(2n) {
  @apply bg-gray-100;
}

/* add hover effect to body rows
   note: tr.active:hover is hyperspecific because it needs to override the tr:nth-child above */
tr.active,
tr.active:hover {
  @apply bg-yellow-100;
}

/* FORM STYLES --------------------------------------------------------------*/
input {
  @apply mt-1;
}

fieldset > fieldset {
  @apply flex flex-col w-1/4 border-2 p-3;
}

fieldset label,
fieldset input {
  @apply ml-3;
}

/*  BUTTON STYLES */
.btn {
  @apply inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition rounded-xl shadow focus:outline-none;
}

.btn-blue {
  @apply btn bg-blue-700 hover:bg-blue-800;
}

.btn-green {
  @apply btn bg-green-500 hover:bg-green-600;
}

.btn-red {
  @apply btn bg-red-500 hover:bg-red-600;
}

.btn-yellow {
  @apply btn bg-yellow-500 hover:bg-yellow-600;
}

td .btn {
  @apply leading-4 px-4;
}

@tailwind utilities;
